# PORPOX data sharing
# NOTE TO REVIEWERS: carefully check that any new lines are setting
# appropriate sharing permissions.
models/*-mind/* poprox-sharing=public
outputs/mind-* poprox-sharing=public
tests/request_data/* poprox-sharing=public
# GitHub syntax highlighting
pixi.lock linguist-language=YAML linguist-generated=true
