# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C and Cython bits
cython_debug/
*.so
*.dll
*.pyd
*.o
*.obj
*.a

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
out/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
.nyc_output

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Jupyter Notebook
.ipynb_checkpoints/

# IPython
profile_default/
ipython_config.py

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Environments
.env
.envrc
*.local.toml
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# type checker caches
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Serverless directories
.serverless
.requirements*

# Logs and profiler output
logs/
*.log*
*.prof
*.lprof
perf.data*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Node-related runtime things
node_modules/
jspm_packages/
web_modules/
bower_components/
*.tsbuildinfo
.eslintcache
.npm
.node_repl_history
.cache/

# Web-related things
.stylelintcache
.rpt2_cache/
.rts2_cache_*/
.next
.nuxt

# Editors
.idea

# OS junk
.DS_Store
.AppleDouble
.LSOverride
._*
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
# pixi environments
.pixi
*.egg-info
data/Test_Large/articles.parquet
data/Test_Large/articles.parquet
