# GitHub syntax highlighting
pixi.lock linguist-language=YAML linguist-generated=true
uv.lock linguist-language=TOML linguist-generated=true
dvc.lock linguist-language=YAML linguist-generated=TRUE
notebooks/*.ipynb linguist-generated=true
