repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        exclude: conda-lock.*\.yml|(uv|pixi)\.lock
      - id: check-json
        exclude: (outputs/.*|\.devcontainer/.*)\.json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
        exclude: cloudformation\.yml
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: ^notebooks/.*\.ipynb
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        exclude: notebooks/.*\.ipynb
  # - repo: https://github.com/ComPWA/taplo-pre-commit
  #   rev: v0.9.3
  #   hooks:
  #     - id: taplo-format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.7.1
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
        name: auto-fix Python lint errors
        exclude: ^notebooks/.*\.ipynb
      # Run the formatter.
      - id: ruff-format
        name: format Python source
        exclude: ^notebooks/.*\.ipynb
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.10.0-1
    hooks:
      - id: shfmt
        name: format shell scripts
  - repo: local
    hooks:
      - id: dprint
        name: format configuration files
        entry: dprint fmt --allow-no-files
        language: node
        types_or:
          - yaml
          - toml
          - json
        exclude: ^(models/|outputs/.*/metrics)
        additional_dependencies:
          - dprint
