/data.txt
/test_mind_large
/mind-converted/
/MINDlarge_dev.zip
/MINDlarge_test.zip
/MINDsmall_dev.zip
/MINDsmall_train.zip
/MINDlarge_test
/MINDsmall_dev
/MINDsmall_train
/MINDlarge_dev
/MINDlarge_train.zip
/MINDlarge_train
/MINDlarge_post_train
/MINDlarge_post_dev
/MINDlarge_post_test
/MINDsmall_dev.db
/MINDlarge_dev.db
/MINDlarge_train.db
/MINDsmall_train.db
/POPROX
